:root {
    --primary: #D2B48C;
    --bg: #A67B5B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: white;

}

/* Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--primary);
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

/* Navbar */

/* NAVBAR CONTENT LOGO*/
.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: brown;
    font-style: italic;
    letter-spacing: 1px;
}

.navbar .navbar-logo span {
    color: white;
}

/* NAVBAR CONTENT LOGO*/

/* NAVBAR CONTENT NAV*/

.navbar .navbar-nav a {
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    margin: 0 0.3rem;
    padding-top: 5px;
}

.navbar .navbar-nav a:hover {
    color: brown;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid var(--bg);
    transform: scale(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scale(0.5);
}

/* NAVBAR CONTENT NAV*/

/* NAVBAR CONTENT EXTRA*/
.navbar .navbar-extra a {
    display: inline-block;
    color: white;
    margin: 0 0.5rem;
    padding-top: 5px;
}

.navbar .navbar-extra a:hover {
    color: brown;
}

#hamburger-menu {
    display: none;
}

/* NAVBAR CONTENT EXTRA*/

/* NAVBAR SEARCH FORM */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    width: 50rem;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: black;
    padding: 0.5rem;
}

.navbar .search-form label {
    cursor: pointer;
    margin-right: 1.5rem;
    color: black;
    font-size: 2rem;
}

/* SECTION HERO */

.hero {
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-image: url(../img/cafebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px sienna;

}

.hero .content {
    padding: 0.5rem 1rem;
    max-width: 60rem;
    text-shadow: 0 0 3px black;
    line-height: 1.6;
}

.hero .content h1 {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content .cta {
    display: inline-block;
    background-color: var(--primary);
    color: whitesmoke;
    margin-top: 2rem;
    padding: 0.7rem;
    border-radius: 5px;
    text-shadow: none;
    font-weight: 600;
    box-shadow: 1px 1px 3px black;
}

.hero .content .cta:hover {
    background-color: wheat;
    color: black;
}

/* SECTION HERO */
/* SECTION HERO ABOUT */
.about,
.menu,
.products,
.contact {
    padding: 6rem 7% 2rem;
    /* background-color: blue; */
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
    text-align: center;
    font-family: 2rem;
    margin: 1rem 7%;
    font-weight: 600;
    font-size: 2.3rem;
}

.about h2 span,
.menu h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
    gap: 1rem;
}

.about .row .about-img {
    flex: 1 1 45rem;
    max-width: 60rem;
    min-width: 20rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: 10px;
}

.about .row .content {
    flex: 1 1 35rem;
    min-width: 20rem;
}

.about .row .content h3 {
    font-size: 2rem;
}

/* SECTION MENU */
.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;

}

.menu .row .menu-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.menu .row .menu-card .menu-card-img {
    margin: 1rem 0.5rem;
    padding: 1rem;
    width: 100%;
    border-radius: 50%;

}

.menu .row .menu-card .menu-card-title {
    margin: 1rem 7% 0.5rem;
    min-height: 50px;
}

/* SECTION PRODUCT */
.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    /* justify-content: center;
    align-items: center; */
    margin-top: 1.5rem;
}

.products .product-menu {
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
}

.products .product-icon {
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    gap: 0.5rem;
}

.products .product-icon a {
    display: flex;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    padding: 0.3rem;
}

.products .product-icon a:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.products .product-image {
    padding: 1rem;
    /* background-color: brown; */

}

.products .product-image img {
    height: 25rem;
}

.products .product-image img:hover {
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
    margin: 3rem;
}

.products .product-conten{
    margin-top: 1rem;
    padding: 1.5rem;
}

.products .product-conten .star-full{
    fill: yellow;
}

.products .product-conten h4{
    font-size: 2rem;
    font-weight: bold;
}
.products .product-conten span{
    font-size: 1rem;
    text-decoration: line-through;
}

/* SECTION CONTACT */
.contact .row {
    background-color: var(--primary);
    display: flex;
    margin-top: 2rem;
    border-radius: 5px;

}

.contact .row .map {
    display: flex;
    flex: 1 1 45rem;
}

.contact .row form {
    flex: 1 1 45rem;
}

.contact .row form .input-group {
    margin: 1rem;
    padding: 1rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 1rem;
}

.contact .row form input.btn {
    display: flex;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: var(--primary);
    border-top: 3px solid black;
}

footer h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

footer .row .social,
footer .row .links,
footer .row .extra {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
}

footer .row .social a {
    margin-top: 0.5rem;
    color: white;
}

footer .row .links a {
    color: aliceblue;
}


/* MEDIA QUERY RESPONSIVE */

/* LAPTOP */
@media screen and (max-width: 900px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 7%;
        background-color: var(--primary);
        border-bottom: 1px solid black;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Navbar */

    /* NAVBAR CONTENT LOGO*/
    .navbar .navbar-logo {
        font-size: 1.7rem;
        font-weight: 700;
        color: brown;
        font-style: italic;
        letter-spacing: 1px;
    }

    .navbar .navbar-logo span {
        color: white;
    }

    /* NAVBAR CONTENT LOGO*/

    /* NAVBAR CONTENT NAV*/

    .navbar .navbar-nav a {
        display: inline-block;
        color: white;
        font-size: 1rem;
        margin: 0 0.1rem;
        padding-top: 5px;

    }
}

/* TABLET */
@media screen and (max-width: 768px) {

    .navbar .navbar-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        top: 100%;
        right: -100%;
        width: 30%;
        height: 100vh;
        background-color: var(--primary);
        transition: all 0.5s;

    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    #hamburger-menu {
        display: inline-block;
    }


    .navbar .search-form {
        width: 40rem;
        height: 5rem;
    }



    /* SECTION */
    .hero .content {
        max-width: 50rem;

    }

    .hero .content h1 {
        font-size: 1.9rem;
    }


    .about {}

    .about .row {

        flex-wrap: wrap;
    }

    .about .row .about-img {
        min-width: 10rem;
    }

    .about .row .content {
        min-width: 15rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }
}

/* MOBILE */
@media screen and (max-width: 576px) {
    .navbar .navbar-nav {
        width: 50%;
    }

    .navbar .search-form {
        width: 25rem;
        height: 3rem;
    }

    /* SECTION */
    .hero .content {
        width: 40rem;
    }

    .hero .content h1 {
        font-size: 1.6rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }
}